p{
   text-align: justify;
}

.btn-ped{
   background: #d797ff;
   width: 35%;
   border-radius: 8px;
   padding-top: 5px;
   padding-bottom: 5px;
}

.btn-ped a{
   text-decoration: none;
   color: #fff;
}